
@mixin portfolio-image{
    grid-template-columns: 1(auto-fit, minmax(300px, 1fr));

    
    @media screen and (min-width:$screen-width-tablet) {
        grid-template-columns: repeat(2, 1fr);
        
    }
    @media screen and (min-width:$screen-width-desktop) {
        grid-template-columns: repeat(3, 1fr);
    }
}

@mixin social{
        display: flex;
        justify-content: right;
        position: sticky;
        bottom: 180px;
        font-size: 25px;
        z-index: 1;
        
        .social-list{
            list-style-type: none;
            width: $social-square;
            height: $social-square;
            position: relative;

            .social-items{
                width: $social-square;
                height: $social-square;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: width 500ms ease-out;
                overflow: hidden;
                // position: absolute;
                a{
                    text-decoration: none;
                    &:hover{
                        &::after{
                            content: 'Follow me';
                            color: white;
                        }
                    }
                }
                &:hover{
                    width: 100px;
                    right: 200px;
                }
            }
        }
}