@import "./base";
@import "./mixins";


// Hier begint de opmaak van de portfolio.
.portfolio{
    display: grid;
    width: 80%;
    margin: 20px auto;
    justify-content: center;
    justify-items: center;
    @include portfolio-image;
    gap:25px;

    .foto-btn{
        position: relative;

        .porto-img{
            z-index: 2;
            &:hover{
                background-color: rgba(0, 0, 0, 0.4);
                opacity: 0.1;
                z-index: -1;
                &> .img-btn{
                    z-index: 1;
                }
            }
        }
        
        .img-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            cursor: pointer;
            transform:translate(-50%, -50%);
            width: 40%;
            height: 15%;
            font-size: 0.3em;
            color: white;
            background-color: rgba(0, 0, 0, 0.4);
            border: none;
            z-index: -1;
            &:hover{
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.8);
            }
        }
    }
    
}

// Hier begint de opmaak voor de social links, die rechts onder moeten staan.
.social-links{
    @include social;
    .social-list{
        padding: 0;
    }
    .linkedin{
        background-color:$social-linkedin;
    }
    .facebook{
        background-color: $social-facebook;
    }
    .github{
        background-color: $social-github;
    }
    .twitter{
        background-color: $social-twitter;
    }
    .blog{
        background-color: $social-blog;
    }
    .social-link{
        color: white;
    }
    
}
