body {
  background-color: #c3cfe2;
  font-size: 5vw;
  text-align: center;
  margin: 0;
  padding: 0;
}

.testomonial {
  width: 80%;
  margin: 30px auto;
  font-size: 5vw;
  background-color: #fff;
  border-radius: 35px;
  position: relative;
  max-height: 590px;
  gap: 25px;
}
@media screen and (min-width: 401px) {
  .testomonial {
    max-height: 590px;
  }
}
@media screen and (min-width: 768px) {
  .testomonial {
    max-height: 710px;
  }
}
@media screen and (min-width: 1024px) {
  .testomonial {
    max-height: 900px;
  }
}
.testomonial .inner-container {
  padding: 15px;
  position: relative;
}
.testomonial .image-container {
  position: relative;
}
.testomonial .image-container::after {
  content: "";
  white-space: pre-wrap;
  display: block;
  color: white;
  padding-top: 200px;
  width: 100%;
  height: 100px;
  transform: translateY(-90px);
  background-color: #686de0;
  border-radius: 0 0 35px 35px;
  z-index: -1;
}
.testomonial .plaatje {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 10px solid #000;
  padding: 0;
  margin: 0;
}
.testomonial .footer {
  color: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
  transform: translateY(-290px);
}
.testomonial .footer .testo-link {
  color: #c3cfe2;
  text-decoration: none;
}

.portfolio {
  display: grid;
  width: 80%;
  margin: 20px auto;
  grid-template-columns: 1 auto-fit, minmax(300px, 1fr);
  gap: 25px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio .porto-img {
    width: 230px;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio {
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio .porto-img {
    width: 260px;
  }
}
.portfolio .foto-btn {
  position: relative;
}
.portfolio .foto-btn .porto-img {
  position: relative;
  cursor: pointer;
}
.portfolio .foto-btn .porto-img:hover {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.1;
  z-index: -1;
}
.portfolio .foto-btn .porto-img:hover, .portfolio .foto-btn .porto-img:hover .img-btn {
  z-index: 1;
}
.portfolio .foto-btn .img-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 15%;
  font-size: 0.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  border: none;
  z-index: -1;
}
.portfolio .foto-btn .img-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  align-content: center;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 175px;
  bottom: 180px;
  font-size: 25px;
  z-index: 1;
}
.social-links .social-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  width: 50%;
}
.social-links .social-list .social-items {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 300ms ease-out;
  overflow: hidden;
  position: relative;
}
.social-links .social-list .social-items:hover {
  width: 160px;
}
.social-links .social-list .social-items a {
  text-decoration: none;
}
.social-links .social-list .social-items a:hover {
  text-align: left;
  padding-left: 5px;
}
.social-links .social-list .social-items a:hover::after {
  content: " Follow me";
  color: white;
}
.social-links .social-list {
  padding: 0;
}
.social-links .linkedin {
  background-color: #007bb6;
}
.social-links .facebook {
  background-color: #3b5998;
}
.social-links .github {
  background-color: #333;
}
.social-links .twitter {
  background-color: #00aced;
}
.social-links .blog {
  background-color: #e17b77;
}
.social-links .social-link {
  color: white;
}/*# sourceMappingURL=site.css.map */