@import "./base";
@import "./mixins";

.testomonial{
    width: 80%;
    margin: 30px auto;
    font-size: $cont-font-size;
    background-color: $text-backgr;
    border-radius: 35px;
    position: relative;
    @include testomonial;
    gap: 25px;
    
    .inner-container{
        padding: 15px;
        // z-index: 2;
        position: relative;

    }
    .image-container{
        position: relative;
        // z-index: 1;
        &::after{
            content:'';
            white-space: pre-wrap;
            display: block;
            color: white;
            padding-top: 200px;
            width: 100%;
            height: 100px;
            transform:translateY(-90px);
            background-color: $footer-backgr;
            border-radius:0 0 35px 35px;
            z-index: -1;
        }
        
    }
    .plaatje{
        @include testo-img;
        // position: absolute;

        // z-index: 2;
        
    }
    .footer{
        // display: none;
        // background-color: $footer-backgr;
        // border-radius:0 0 35px 35px;
        color: $footer-text-clr;
        width: 100%;
        padding: 0;
        margin: 0;
        // height: 20%;
        // z-index: 1;
        transform:translateY(-290px);
        
        .testo-link{
            color: $page-backgr;
            text-decoration: none;
        }
    }
}
// Hier begint de opmaak van de portfolio.
.portfolio{//section
    display: grid;
    width: 80%;
    margin: 20px auto;
    // justify-content: center;
    // justify-items: center;
    @include portfolio-image;
    gap:25px;

    .foto-btn{//div met img en btn
        position: relative;

        .porto-img{//dit is de img
            // z-index: 1;
            position: relative;
            cursor: pointer;
            &:hover{
                background-color: rgba(0, 0, 0, 0.4);
                opacity: 0.1;
                z-index: -1;
                &,.img-btn{
                    z-index:1 ;
                }
            }
        }
        
        .img-btn{// dit is de btn
            position: absolute;
            top: 50%;
            left: 50%;
            cursor: pointer;
            transform:translate(-50%, -50%);
            width: 40%;
            height: 15%;
            font-size: 0.5em;
            color: white;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 25px;
            border: none;
            z-index: -1;
            &:hover{
                // z-index: 3;
                background-color: rgba(0, 0, 0, 0.8);
            }
        }
    }
    
}

// Hier begint de opmaak voor de social links, die rechts onder moeten staan.
.social-links{
    @include social;
    .social-list{
        padding: 0;
    }
    .linkedin{
        background-color:$social-linkedin;
    }
    .facebook{
        background-color: $social-facebook;
    }
    .github{
        background-color: $social-github;
    }
    .twitter{
        background-color: $social-twitter;
    }
    .blog{
        background-color: $social-blog;
    }
    .social-link{
        color: white;
    }
    
}
